.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: stretch;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-name {
  text-align: left;
  white-space: nowrap;
  font-weight: 300;
  font-size: 1.3em;
  padding-right: 15px;
}

.App-header {
  position: sticky;
  display: block;
  top: 0;
  background-color: #282c34;
  min-height: 100vh;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header-inner {
  padding: 30px;
}
.App-header .header-top {
  display: flex;
  align-items: center;
}
.App-header .header-top p {
  display: inline-block;
}

.App-header nav {
  display: block;
  text-align: left;
}
.App-header nav ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}
.App-header nav ul li {
  display: block;
}
.App-header nav ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0.4em 1em;
  font-size: 0.8em;
  font-weight: 300;
}
.App-header nav ul li a.active {
  color: cyan;
}
.App-header nav ul li a:hover,
.App-header nav ul li a:active,
.App-header nav ul li a:focus {
  background-color: rgba(255,255,255,0.1);
}

.App-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* overflow: hidden; */
}

.App-content-body {
  padding: 30px;
  padding-top: 35px;
  padding-left: 45px;
  text-align: left;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  padding: 15px;
  background: slategray;
  background: #32353d;
  color: #eee
}
.App-footer p {
  margin: 0;
  font-size: 0.8em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
